<plugin id="cordova-plugin-sqlite-spatialite-batch-connection-manager-core" version="0.0.1-dev">
  <js-module src="www/sqlite-batch-connection-manager.js" name="sqliteBatchConnectionManager">
    <runs/>
  </js-module>
  <platform name="android">
    <config-file target="config.xml" parent="/*">
      <feature name="SQLiteBatchConnectionManager">
        <param name="android-package" value="io.sqlc.SQLiteBatchConnectionManager"/>
      </feature>
    </config-file>
    <source-file src="src/android/SQLiteBatchConnectionManager.java" target-dir="src/io/sqlc"/>
    <source-file src="dist-dependencies/SQLiteBatchCore.java" target-dir="src/io/sqlc"/>
    <lib-file src="dist-dependencies/sqlite-connection-core-glue.jar" />
  </platform>
  <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="SQLiteBatchConnectionManager">
        <param name="ios-package" value="SQLiteBatchConnectionManager"/>
      </feature>
    </config-file>
    <source-file src="src/ios/SQLiteBatchConnectionManager.m"/>
    <header-file src="dist-dependencies/SQLiteBatchCore.h" />
    <source-file src="dist-dependencies/SQLiteBatchCore.m" />
    <header-file src="dist-dependencies/sqlite-connection-core.h" />
    <source-file src="dist-dependencies/sqlite-connection-core.c" />
    <podspec>
      <!-- empty config element to avoid an installation bug on iOS -->
      <config>
      </config>
      <pods>
        <!-- TODO: MISSING EXTRA-SAFE -DSQLITE_DEFAULT_SYNCHRONOUS=3 FLAG
             AND MISSING SOME OTHER FLAGS FROM ABOVE
             FUTURE TBD CONSIDER SOME OTHER SQLITE FEATURE FLAGS WANTED -->
        <pod name="spatialite" git="https://github.com/brodybits/spatialite-core.git" />
      </pods>
    </podspec>
  </platform>
  <!-- macOS ("osx") platform support is removed from this version branch -->
  <!-- Note that podspec is not supported by cordova-osx. -->
</plugin>
